<select name="client-filter" class="form-control" onchange="location = this.value;">
    <option selected="selected">Filter by Client</option>
    {{#each model as |item|}}
        <option value="#/report/client/{{item.Client}}">{{item.Client}}</option>
    {{/each}}
</select>